.row-clock {
    display: flex;
    justify-content: center;
    align-items: center;
    //min-height: 90vh;

    .alarm-clock {
        position: relative;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--color-secondary-3);
        
        .date {
            position: absolute;
            bottom: 15px;
            left: 50%;
            color: var(--color-grey-1);
            font-size: 12px;
            text-transform: uppercase;
            transform: translateX(-50%);
            z-index: 9;
        }
        
        .time {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 40px 15px;
            background-color: #333;
            border-radius: 10px;
            font-family: 'Orbitron', sans-serif;
            font-size: 52px;
    
            span {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                color: var(--color-primary);
                text-shadow: 0 0 15px rgba(133, 196, 166,0.4);
                line-height: 1.75;
    
                &.colon {
                    width: 25px;
                    text-align: center;
                    animation: blink 2s infinite;
                }
            }
        }

        @media (max-width: 400px) {
            width: 100%;
        }
    }
    
    
    
    @keyframes blink {
        0%   { opacity: 0; }
        30%  { opacity: 1; }
        50%  { opacity: 0; }
        70%  { opacity: 1; }
        100% { opacity: 0; }
    }

    @media (max-width: 400px) {
        min-height: 45vh;
    }

}